<script type='text/x-handlebars-template' id='main_structure'>
    <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
        <ul class='nav nav-tabs top-space-1X' role='tablist' id='tab_headers'>
            <li class='active'>
                <a href='#filters_tab' role='tab' data-toggle='tab'>
                    {{filters}}
                </a>
            </li>
        </ul>
        <div class='tab-content' id='tab_contents'>
            <div class='tab-pane active' id='filters_tab'>
                <div id='filters_panel'>
                    <div class='row' style='margin-top: 16px;'>
                        <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
                            <label for='datasource_selector'>
                                {{datasources}}
                            </label>
                            <select style='width: 100%;' id='datasource_selector' data-placeholder={{please_select}}>

                            </select>
                        </div>
                        <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
                            <div id='dynamic_filters'>

                            </div>
                        </div>
                        <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
                            <div class='top-space-1X'>
                                <button class='btn btn-primary download-button' id='download_button'>
                                    <i class='fa fa-cloud-download'></i> {{download_selected_layers}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type='text/x-handlebars-template' id='filter_structure'>
    <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12' style='margin-top: 16px;'>
        <label for='{{filter_id}}'>
            {{filter_label}}
        </label>
        <select style='width: 100%;' id='{{filter_id}}' data-placeholder={{please_select}}>

        </select>
    </div>
</script>